.Button {
  position: relative;
  cursor: pointer;
  height: 32px;
  padding: 0 15px;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 14px;
  color: white;
  border-color: var(--link);
  background-color: var(--link);
  // display: flex;
  // align-items: center;
  // overflow: hidden;
  &[data-loading='true'] {
    .content {
      transform: translateY(-32px);
    }
  }
  &:disabled {
    border-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    cursor: not-allowed;
  }
  .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &_loading {
    opacity: 0.6;
    &:disabled {
      color: white;
      border-color: var(--link);
      background-color: var(--link);
      cursor: default;
    }
  }

  .icon {
    width: 16px;
    height: 16px;
    background-color: blue;
  }
}
