.Switch {
  border: none;
  box-sizing: border-box;
  min-width: 44px;
  height: 22px;
  background-color: #999999;
  display: flex;
  justify-content: flex-start;
  border-radius: 22px;
  padding: 2px;
  cursor: pointer;
  &_theme {
  }
  &[data-ison='true'] {
    justify-content: flex-end;
  }

  .handle {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
  }
}
