:root {
  --type: 'light';
  --brand: #e2b96f;
  --brand-selected: #fffbf3;
  --link: #5b9eda;
  --success: transparent;
  --warning: transparent;
  --error: transparent;
  --disable: transparent;
  --primary-text: #232833;
  --secondary-text: #9ca2ad;
  --body: #f3f4f8;
  --background-primary: #ffffff;
  --background-secondary: #ffffff;
  --input: #ffffff;
  --input-border: #ebebeb;
  --input-border6: #ebebeb;
  --row-primary: #f6f8fa;
  --row-secondary: #ffffff;
  --hover-primary: #f5f7fa;
  --border-primary: #ebebeb;
  --border-secondary: transparent;
  --modal-head: #e2b96f;
  --table-color: #232833;
  --table-color-Hover: #f5f7fa;
  --table-color-active: #ebf5ff;
  --table-head-color: #979aa8;
}
