.Calendar {
  width: 100%;
  display: flex;
  flex-direction: column;
  .head {
    flex-shrink: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #000;
    display: flex;
    .week {
      flex: 1;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      text-align: center;
    }
  }
  .content {
    flex: 1;
    .days {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      align-content: flex-start;
    }
    .day {
      flex: 0 0 14.2874%;
      height: 40px;
      text-align: center;
      line-height: 40px;
    }
  }
}
