.Calendar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  .head {
    flex-shrink: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #000;
    display: flex;
    .week {
      flex: 1;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      text-align: center;
    }
  }
  .content {
    position: relative;
    // overflow: hidden;
    padding-bottom: 30px;
    // flex: 1;
    height: 200px;
    overflow: hidden;
    .days {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      align-content: flex-start;
    }
    .day {
      flex: 0 0 14.2874%;
      height: 40px;
      text-align: center;
      line-height: 40px;
    }
  }
  .drag {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: red;
    // width: 60px;
    height: 30px;
    margin: auto;
    // background-color: #fff;
  }
}
