.navs {
  height: 50px;
  width: 100%;
  flex-shrink: 0;
  border-bottom: 1px solid #000;
  display: flex;
  a {
    // display: block;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    padding: 0 10px;
    &:hover {
      background-color: #999;
    }
  }
}

.content {
  position: relative;
  flex: 1;
  width: 100%;
  display: flex;
}
